.msgBox {
    filter: blur(7px) brightness(0.9);
    border-radius: 12px;
    width: max-content;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    z-index: 999;
    box-shadow: 1px 1px 10px 0 var(--shadow-medium);
}

.msgPrompt {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    text-align: left;
    line-height: 150%;
    font-size: 18px;
}

.msgContent {
    display: flex;
    align-items: center;
}

.close {
    padding: 0;
    margin: 0;
    margin-left: 6px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    background-size: contain;
    transition: 0.2s ease;
}

.close:hover {
    transform: rotate(180deg);
}

.icon {
    padding: 0;
    margin: 0;
    margin-right: 16px;
    height: 20px;
    width: 20px;
    background-size: contain;
}

#defaultBox {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    margin: 0;
    padding: 0;
    z-index: 999;
}

#defaultBox > div {
    position: relative;
    width: auto;
    height: auto;
}